.headerText1{
    color:#FABE4C;
    font-weight: bold;
}
.headerText2{
    color:rgb(38, 27, 91);
    font-weight: bold;
}
.button{
    height: 50px;
    /* width: 120px; */
    padding: 0px 20px;
    background-color: #A4BC46;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: 600;
}
.icon{
    height: 20px;
}
.headerBG{
    background-color:#FFFBF0 ;
}
.cardImg{
    height: 300px;
    background-color: #F1F1F1;
    border-radius: 10px;
    
}
.card{
    height: 550px;
    width: 300px;
    border: none;
}
.bottomCard{
    border-radius: 10px;
}
.bottomImg{
    height: 70px;
}